configuration {
  show-icons:      true;
  icon-theme:      "Paper";
  cycle:           true;
  hide-scrollbar:  true;
  disable-history: false;
  modi:            "drun";
  display-drun:    "apps";
  columns:         2;
  lines:           30;
  opacity:         "90";
  location :       "6";
  bg:              "#262626";
  bgalt:           "#212121";
  fg:              "#ffffff";
  hlbg:            "#d64937";
  hlfg:            "#ffffff";

}
