@import "ale-base.rasi"

  * {
    columns:           2;
    cycle:             true;
    font:              "mono 14";
    location:          south;
    height:            60%;
    width:             50%;
  }
